@model Monitor.Models.Role

@{
    ViewBag.Title = "Удаление";
}
<div class="container">
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">Домой</a></li>
        <li><a asp-action="Index" asp-controller="Roles">Роли</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-trash"></span> Подтвердить</div>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Идентификатор</th>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <th scope="row">Роль </th>
                        <td>@Model.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Удаление" />
            </div>
            <a asp-action="Index" asp-controller="Roles" class="btn btn-primary btn-lg btn-block" role="button">Назад</a>
        </form>
    </div>
</div>
